{% extends 'base.html' %}

{% block content %}
<style>
td{border:solid #add9c0; border-width:0px 1px 1px 0px; padding:5px 0px;}
table{border:solid #add9c0; border-width:1px 0px 0px 1px;}
</style>
<div  style="text-align: center">
  <a href="{% url 'interface:interface_update' item_id=object.id %}"><span>{{ object.name }}</span><br><br></a>
  <span>{{ object.url }}</span><br><br>
  参数：<table width="610" align="center">
    <thead>
    </thead>
    <tbody>
     <tr>
    {% for o in object.interfaceparame_set.all %}
      <td width="200">{{ o.parame_key }}</td>
    {% endfor %}
    </tr>
     <tr>
    {% for o in object.interfaceparame_set.all %}
      <td width="200">{{ o.parame_value }}</td>
    {% endfor %}
     </tr>
    </tbody>
  </table>
</div>
{% endblock %}