{%  extends 'base.html' %}

{% block content %}
<style>
td{border:solid #add9c0; border-width:0px 1px 1px 0px; padding:5px 0px;}
table{border:solid #add9c0; border-width:1px 0px 0px 1px;}
</style>
<div  style="text-align: center">
  <table width="610" align="center">
    <thead>
    <tr>
      <td width="200">接口名称</td>
      <td width="200">状态</td>
      <td width="200">描述</td>
    </tr>
    </thead>
    <tbody>
    {% for o in object_list %}
    <tr>
      <td><a href="{% url 'interface:interface_detail' item_id=o.id %}">{{ o.name }}</a></td>
      <td><a href="{% url 'interface:interface_detail' item_id=o.id %}">查看</a></td>
      <td>{{ o.url }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}