{% extends "base.html" %}


{% block content %}
<style type="text/css">
  .errorlist {
    list-style: none;
    color: #B94A48;
    margin: 0px 0px 9px 0px;
    padding: 0px;
  }
</style>

<script type="text/html" id="book-template">
  <div id="book-__prefix__">
    {{ formset.empty_form }}
  </div>
</script>

<div class="page-header">
  <h1>{% if form.instance.pk %}Edit{% else %}Add{% endif %} Author and Books</h1>
</div>

<form action="." method="post">
  {% csrf_token %}
  <legend style="text-align: center">InterfaceItem</legend>
  <div class="author">
    {{ form.as_p }}
  </div>

  <legend>
    <div class="pull-right"><a href="javascript:void(0);" class="btn btn-inverse add-book"><i class="icon-plus icon-white"></i> Add parame</a></div>
    Parame
  </legend>
  <div class="books form-inline">
    {{ formset.management_form }}
    {% for form in formset %}
    {{ form.as_p }}
    {% endfor %}
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>

<script type="application/javascript">
    $('.add-book').click(function(ev){
      var count = parseInt($('#id_interfaceparame_set-TOTAL_FORMS').attr('value'), 10);
      var tmplMarkup = $('#book-template').html();
      var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count)
      console.log(compiledTmpl);
      $('div.books').append(compiledTmpl)
      alert(count)
      var total = count + 1
      $('#id_interfaceparame_set-TOTAL_FORMS').attr('value', total);
      alert($('#id_interfaceparame_set-TOTAL_FORMS').attr('value'))
    });
</script>


{% endblock content %}