{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Web</title>
  <script type="application/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
</head>
<body>
<div style="text-align: center">
  <div style="background: green; height: 50px; padding: 10px;">
    {% if request.user.is_authenticated %}username: {{ request.user }} <a href="/logout/" style="color: black;">注销</a> {% endif %}
  </div>
  <h1>My Web</h1>
  <h3>This is interface control web!</h3>
  {% block content %}
  {% endblock content %}
</div>
</body>
</html>