{% extends 'base.html' %}

{% block content %}
  <div style="margin-top: 50px;">
    <form method="post">{% csrf_token %}
      <span style="margin-left: 5px; color: red;">{{ form.errors.username.0 }}</span><br>
      <label for="id_username">User Name: </label><input type="text" name="username" id="id_username"><br><br>
      <span style="margin-left: 5px; color: red;">{{ form.errors.password.0 }}</span><br>
      <label for="id_password">Pass Word: </label><input type="password" name="password" id="id_password"><br><br>
      <input type="submit" value=" submit ">&nbsp;
      <input type="button" value=" cancel">
    </form>
  </div>
{% endblock content %}